/* class */

.control-label {
  color: #343a40; font-weight: bold;
}

.datepicker {
  background-color: #fff !important; color: #343a40;
}

/* .figure-caption {
  color: red; font-weight: plain; margin-top: 0;
} */

.figure-footer {
  color: #343a40;
}

.figure-footer-help-text {
  color: #989898; font-style: italic;
}

.figure-subtext {
  color: #989898;
}

.figure-subtitle {
  color: #3b3b3b; font-weight: plain; margin-top: 0;
}

.figure-title {
  color: #3b3b3b !important; font-weight: plain !important; margin-bottom: 0.3em !important; margin-top: 0;
}

.help-block {
  color: #989898;
}

.selectize-input.items.full.has-options.has-items {
  border-radius: 0px;
}

.shiny-output-error-datepicker {
  background-color: #007D84; border: 1px solid rgba(0,0,0,.125); border-radius: 0px; color: #FFFFFF !important; font-weight: bold; font-style: italic; padding: 20px;
}

.shiny-notification {
  background-color: rgba(129,211,235,0.9) !important; border: none !important; box-shadow: 1px 2px rgba(0,0,0,0.1) !important; color: #1E5288 !important; font-style: italic !important; position: fixed !important; top: calc(50%) !important; left: calc(50% - 100px) !important;
}

/* id */

#calculateHeatUnits {
  background-color: transparent; border-color: #001C48; color: #001C48;
}

#calculateHeatUnits:active {
  background-color: #001C48; color: #fff;
}

#calculateHeatUnits:hover {
  background-color: #001C48; color: #fff;
}

#sidebarPanel {
  background-color: #E2E9EB !important; margin-bottom: 72px;
}
